<div class="programming-challenge-game-board" drag-drop-control>
  <table>
    <tbody>
      <tr>
        <td>
          <div class="cards-container">
            <table>
              <tbody>
                <tr class="card-row" cloned="false" draggable index="$index" ng-repeat="card in cards">
                  <td>
                    <div class="cards-container-card">
                      {{card.text}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="module-drop-area-column"> 
          <div class="module-drop-area" droppable get-card="getCard">
            return 'Michael P. Scott';
          </div>
          <div class="action-button-area">
            Buttons go here son!
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
