<div class="programming-challenge-game-board">
  <table>
    <tbody>
      <tr>
        <td>
          <div class="cards-container">
            <table class="cards-container">
              <tbody drag-drop-control>
                <tr class="card-row" drag-drop ng-repeat="card in cards">
                  <td>
                    <div class="card">
                      {{card.text}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="module-drop-area-column"> 
          <div class="module-drop-area">
            return 'Michael P. Scott';
          </div>
          <div class="action-button-area">
            <table>
              <tbody>
                <tr>
                  <td>
                    Buttons go here son!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
